@model EditClientRequestModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <H3>Редактирование заявки клиента</H3>
            <ul class="list-group">
                <li class="list-group-item"><b>Дата:</b> @Model.clientRequest.CreateDt.ToString("f");</li>
                <li class="list-group-item"><b>Метод:</b> @Model.clientRequest.FirstName</li>
                <li class="list-group-item"><b>NumberPublic:</b> @Model.clientRequest.Email</li>
                <li class="list-group-item"><b>Object ID:</b> @Model.clientRequest.Phone</li>
                <li class="list-group-item"><b>Обработано:</b> @(Model.clientRequest.isProcessed ? "Нет" : "Да")</li>
                <li class="list-group-item"><b>Тур:</b> @Model.clientRequest.tourName</li>
                <li class="list-group-item"><b>Комментарий:</b> @Model.clientRequest.comment</li>
            </ul>
        </div>
    </div>
</div>