@using KamchatkaTravel.WebDashboard.Models.ForAddView;
@model AddTourDayModel;

@{
    ViewData["Title"] = "Создание дня тура";
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Создание дня тура</h3>
        <form method="post">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Название:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.day.Name" name="day.Name"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Номер:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.day.Number" name="day.Number" type="number" />
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Описание:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.day.Description" name="day.Description" style="height: 125px"></textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.day.Img" name="day.Img" accept="image/png, image/gif, image/jpeg">
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="AddDay" asp-controller="Tour" formenctype="multipart/form-data">
                    <span>Сохранить</span>
                </button>
                <input type="hidden" name="day.TourId" value="@Model.day.TourId" asp-for="@Model.day.TourId">
            </div>
        </form>
    </div>

</div>