@using KamchatkaTravel.Domain.Shared.Extensions;
@model AddTourModel;

@{
    ViewData["Title"] = "Создание тура";
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Редактирование тура</h3>
        <form method="post">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Название:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Name" name="tour.Name"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Слоган:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Tagline" name="tour.Tagline" style="height: 50px"></textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Логотип:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.tour.LogoImg" name="tour.LogoImg" accept="image/png, image/gif, image/jpeg">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Сезон:</b>
                        </div>
                        <div class="col-lg-2">
                            <div>
                                <select class="form-select" asp-for="@Model.tour.SeasonType" name="tour.SeasonType" placeholder="Время года" required>
                                    <option value="0">Все</option>
                                    <option value="1">Лето</option>
                                    <option value="2">Осень</option>
                                    <option value="3">Зима</option>
                                    <option value="4">Весна</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Тип ночевки:</b>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-select" asp-for="@Model.tour.NightType" name="tour.NightType" placeholder="Тип ночевки" required>
                                <option value="0"></option>
                                <option value="1">в палатках и квартире</option>
                                <option value="2">в палатках и отеле</option>
                                <option value="3">в глэмпинге и отеле</option>
                                <option value="4">без ночевки</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Цена:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Price" name="tour.Price" type="number"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Описание:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Description" name="tour.Description" style="height: 125px"></textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка описания:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.tour.DescriptionImg" name="tour.DescriptionImg" accept="image/png, image/gif, image/jpeg">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Ссылка на оборудование:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.LinkEquipment" name="tour.LinkEquipment"></input>
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="AddTour" asp-controller="Tour" formenctype="multipart/form-data">
                    <span>Сохранить</span>
                </button>
            </div>
        </form>
    </div>

</div>