@model EditImageModel;

@{
    ViewData["Title"] = "Редактирование картинки";
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Редактирование картинки</h3>
        <form method="post">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.image.ImgFile" name="image.ImgFile" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            <img src="data:image; base64, @(Convert.ToBase64String(Model.image.Img))" class="img-fluid mx-auto d-block" style="height: 200px">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Видимость:</b>
                        </div>
                        <div class="form-check form-switch col-lg-10">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.image.Visible" name="image.Visible">
                            <label class="form-check-label">Видимость</label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Порядок:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.image.Ord" name="image.Ord" type="number" />
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="EditImage" asp-controller="Tour" formenctype="multipart/form-data">
                    <span>Сохранить</span>
                </button>
                <input type="hidden" name="image.Id" value="@Model.image.Id" asp-for="@Model.image.Id">
            </div>
        </form>
    </div>

</div>