@using KamchatkaTravel.Domain.Shared.Extensions;
@model EditTourModel;

@{
    ViewData["Title"] = "Редактирование тура: " + Model.tour.Name;
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Редактирование тура</h3>
        <form method="post">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Название:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Name" name="tour.Name"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Слоган:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Tagline" name="tour.Tagline" style="height: 50px">@Model.tour.Tagline</textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Логотип:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" id="formFile" asp-for="@Model.tour.LogoImage" name="tour.LogoImage" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            <img src="data:image; base64, @(Convert.ToBase64String(Model.tour.LogoImage))" class="img-fluid mx-auto d-block" style="height: 200px">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Сезон:</b>
                        </div>
                        <div class="col-lg-2">
                            <div>
                                <select class="form-select" asp-for="@Model.tour.SeasonType" name="tour.SeasonType" placeholder="Время года" required>
                                    <option value="0">Все</option>
                                    <option value="1">Лето</option>
                                    <option value="2">Осень</option>
                                    <option value="3">Зима</option>
                                    <option value="4">Весна</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Тип ночевки:</b>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-select" asp-for="@Model.tour.NightType" name="tour.NightType" placeholder="Тип ночевки" required>
                                <option value="0"></option>
                                <option value="1">в палатках и квартире</option>
                                <option value="2">в палатках и отеле</option>
                                <option value="3">в глэмпинге и отеле</option>
                                <option value="4">без ночевки</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Цена:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Price" name="tour.Price" type="number"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Описание:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Description" name="tour.Description" style="height: 125px">@Model.tour.Description</textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка описания:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.tour.DescriptionImage" name="tour.DescriptionImage" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            <img src="data:image; base64, @(Convert.ToBase64String(Model.tour.DescriptionImage))" class="img-fluid mx-auto d-block" style="height: 200px">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Ссылка на оборудование:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.LinkEquipment" name="tour.LinkEquipment"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Видимость:</b>
                        </div>
                        <div class="form-check form-switch col-lg-10">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.tour.Visible" name="tour.Visible">
                            <label class="form-check-label">Видимость</label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Дата создания:</b>
                        </div>
                        <div class="col-lg-10">
                            <label class="form-check-label" asp-for="@Model.tour.CreateDt" name="tour.CreateDt">@Model.tour.CreateDt.ToString("f")</label>
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="EditTour" asp-controller="Tour">
                    <span>Сохранить</span>
                </button>
            </div>
            <input type="hidden" name="tour.Id" value="@Model.tour.Id" asp-for="@Model.tour.Id"></input>
        </form>
    </div>

</div>

@*<div class="row">
    <div class="col-lg-2">
        <b>Комментарий:</b>
    </div>
    <div class="col-lg-10">
        <textarea class="form-control w-100" asp-for="@Model.clientRequest.comment" name="comment" rows="2">@Model.clientRequest.comment</textarea>
    </div>
</div>*@

@*<img src="data:image; base64, @(Convert.ToBase64String(tour.LogoImage))" class="tour-card__image" alt="">*@