@model EditDayModel;

@{
    ViewData["Title"] = "Редактирование дня";
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Редактирование дня</h3>
        <form method="post">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Название:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.day.Name" name="day.Name" />
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Номер:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.day.Number" name="day.Number" type="number" />
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Описание:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.day.Description" name="day.Description" style="height: 125px">@Model.day.Description</textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.day.ImageFile" name="day.ImageFile" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            @if (!string.IsNullOrWhiteSpace(Model.day.ImageUrl))
                            {
                                <img src=@Model.day.ImageUrl class="img-fluid mx-auto d-block" style="height: 200px">
                            }
                            else
                            {
                                <img class="img-fluid mx-auto d-block" style="height: 200px" alt="">
                            }
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Видимость:</b>
                        </div>
                        <div class="form-check form-switch col-lg-10">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.day.Visible" name="day.Visible">
                            <label class="form-check-label">Видимость</label>
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="EditDay" asp-controller="Tour" formenctype="multipart/form-data">
                    <span>Сохранить</span>
                </button>
                <input type="hidden" name="day.Id" value="@Model.day.Id" asp-for="@Model.day.Id">
            </div>
        </form>
    </div>

</div>