@using KamchatkaTravel.Domain.Shared.Extensions;
@using KamchatkaTravel.WebDashboard.Models.ForEditView;
@model EditTourViewModel;

@{
    ViewData["Title"] = "Редактирование тура: " + Model.tour.Name;
}

<div class="container-fluid">

    <div class="col-12">
        <h3>Редактирование тура</h3>
        <form method="post" enctype="multipart/form-data">
            <ul class="list-group mb-2">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Название:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Name" name="tour.Name"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Слоган:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Tagline" name="tour.Tagline" style="height: 50px">@Model.tour.Tagline</textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Логотип:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" id="formFile" asp-for="@Model.tour.LogoImageFile" name="tour.LogoImageFile" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            @if (!string.IsNullOrWhiteSpace(Model.tour.LogoImageUrl))
                            {
                                <img src=@Model.tour.LogoImageUrl class="img-fluid mx-auto d-block" style="height: 200px">
                            }
                            else
                            {
                                <img class="img-fluid mx-auto d-block" style="height: 200px" alt="Логотип тура">
                            }
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Сезон:</b>
                        </div>
                        <div class="col-lg-2">
                            <div>
                                <select class="form-select" asp-for="@Model.tour.SeasonType" name="tour.SeasonType" placeholder="Время года" required>
                                    <option value="0">Все</option>
                                    <option value="1">Лето</option>
                                    <option value="2">Осень</option>
                                    <option value="3">Зима</option>
                                    <option value="4">Весна</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Тип ночевки:</b>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-select" asp-for="@Model.tour.NightType" name="tour.NightType" placeholder="Тип ночевки" required>
                                <option value="0"></option>
                                <option value="1">в палатках и квартире</option>
                                <option value="2">в палатках и отеле</option>
                                <option value="3">в глэмпинге и отеле</option>
                                <option value="4">без ночевки</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Цена:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.Price" name="tour.Price" type="number"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Описание:</b>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control w-100" asp-for="@Model.tour.Description" name="tour.Description" style="height: 125px">@Model.tour.Description</textarea>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Картинка описания:</b>
                        </div>
                        <div class="form-file col-lg-3">
                            <input class="form-control" type="file" asp-for="@Model.tour.DescriptionImageFile" name="tour.DescriptionImageFile" accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div class="col-lg-7">
                            <img src="data:image; base64, @(Convert.ToBase64String(Model.tour.DescriptionImage))" class="img-fluid mx-auto d-block" style="height: 200px">
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Ссылка на оборудование:</b>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control w-100" asp-for="@Model.tour.LinkEquipment" name="tour.LinkEquipment"></input>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Видимость:</b>
                        </div>
                        <div class="form-check form-switch col-lg-10">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.tour.Visible" name="tour.Visible">
                            <label class="form-check-label">Видимость</label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2">
                            <b>Дата создания:</b>
                        </div>
                        <div class="col-lg-10">
                            <label class="form-check-label" asp-for="@Model.tour.CreateDt" name="tour.CreateDt">@Model.tour.CreateDt.ToString("f")</label>
                        </div>
                    </div>
                </li>

            </ul>
            <div>
                <button class="btn btn-dark" type="submit" asp-action="EditTour" asp-controller="Tour">
                    <span>Сохранить</span>
                </button>
            </div>
            <input type="hidden" name="tour.Id" value="@Model.tour.Id" asp-for="@Model.tour.Id"></input>
        </form>
    </div>

    <hr />
    <div class="col-12">
        <h3>Виды</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Редактировать</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cnt = 1;
                    foreach (var t in Model.tour.views.OrderBy(x => x.Visible))
                    {
                        string color = !t.Visible ? "table-danger" : "";
                        <tr>
                            <td class=@color>@cnt</td>
                            <td class=@color>@t.Name</td>
                            <td class=@color>@t.Description.ToTruncateText()</td>
                            <td class=@color>
                                <img src="data:image; base64, @(Convert.ToBase64String(t.Image))" class="img-fluid  d-block" style="height: 100px">
                            </td>
                            <td class=@color>
                                <div>
                                    <form asp-controller="Tour" asp-action="GetEditView" method="post">
                                        <input type="hidden" name="ViewId" value="@t.Id"></input>
                                        <button class="btn btn-dark">Редактировать</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        cnt++;
                    }
                }
            </tbody>
        </table>
        <div>
            <form asp-action="GetAddView" asp-controller="Tour" method="post">
                <button class="btn btn-dark" type="submit">
                    <span>Создать</span>
                </button>
                <input type="hidden" name="TourId" value="@Model.tour.Id" asp-for="@Model.tour.Id">
            </form>
        </div>
    </div>

    <hr />
    <div>
        <h3>Изображения</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Редактировать</th>
                    <th scope="col">Порядок</th>
                </tr>
            </thead>
            <tbody>
                @{
                    cnt = 1;
                    foreach (var t in Model.tour.images.OrderBy(x => x.Visible).ThenBy(x=>x.Ord))
                    {
                        string color = !t.Visible ? "table-danger" : "";
                        <tr>
                            <td class=@color>@cnt</td>
                            <td class=@color>
                                <img src="data:image; base64, @(Convert.ToBase64String(t.Img))" class="img-fluid d-block" style="height: 100px">
                            </td>
                            <td class=@color>
                                <div>
                                    <form asp-controller="Tour" asp-action="GetEditImage" method="post">
                                        <input type="hidden" name="ImageId" value="@t.Id"></input>
                                        <button class="btn btn-dark">Редактировать</button>
                                    </form>
                                </div>
                            </td>
                            <td class=@color>@(t.Ord.HasValue ? t.Ord.Value : "")</td>
                        </tr>
                        cnt++;
                    }
                }
            </tbody>
        </table>
        <div>
            <form asp-action="GetAddImage" asp-controller="Tour" method="post">
                <button class="btn btn-dark" type="submit">
                    <span>Создать</span>
                </button>
                <input type="hidden" name="TourId" value="@Model.tour.Id" asp-for="@Model.tour.Id">
            </form>
        </div>
    </div>

    <hr />
    <div class="col-12">
        <h3>Дни</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Редактировать</th>
                </tr>
            </thead>
            <tbody>
                @{
                    cnt = 1;
                    foreach (var t in Model.tour.days.OrderBy(x => x.Visible).ThenBy(x => x.Number))
                    {
                        string color = !t.Visible ? "table-danger" : "";
                        <tr>
                            <td class=@color>@cnt</td>
                            <td class=@color>@t.Name</td>
                            <td class=@color>@t.Number</td>
                            <td class=@color>@t.Description.ToTruncateText()</td>
                            <td class=@color>

                            @if (!string.IsNullOrWhiteSpace(t.ImageUrl))
                            {
                                <img src="@t.ImageUrl" class="img-fluid d-block" style="height: 100px">
                            }
                            else
                            {
                                <img class="img-fluid d-block" style="height: 100px" alt="Картинка дня">
                            }
                            
                            </td>
                            <td class=@color>
                                <div>
                                    <form asp-controller="Tour" asp-action="GetEditDay" method="post">
                                        <input type="hidden" name="DayId" value="@t.Id" />
                                        <button class="btn btn-dark">Редактировать</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        cnt++;
                    }
                }
            </tbody>
        </table>
        <div>
            <form asp-action="GetAddDay" asp-controller="Tour" method="post">
                <button class="btn btn-dark" type="submit">
                    <span>Создать</span>
                </button>
                <input type="hidden" name="TourId" value="@Model.tour.Id" asp-for="@Model.tour.Id">
            </form>
        </div>
    </div>

    <hr />
    <div class="col-12">
        <h3>Вопросы</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Ответ</th>
                    <th scope="col">Порядок</th>
                    <th scope="col">Редактировать</th>
                </tr>
            </thead>
            <tbody>
                @{
                    cnt = 1;
                    foreach (var t in Model.tour.questions.OrderBy(x => x.Visible).ThenBy(x => x.Ord))
                    {
                        string color = !t.Visible ? "table-danger" : "";
                        <tr>
                            <td class=@color>@cnt</td>
                            <td class=@color>@t.Name</td>
                            <td class=@color>@t.Answer.ToTruncateText()</td>
                            <td class=@color>@(t.Ord.HasValue ? t.Ord.Value : "")</td>
                            <td class=@color>
                                <div>
                                    <form asp-controller="Tour" asp-action="GetEditQuestion" method="post">
                                        <input type="hidden" name="QuestionId" value="@t.Id" />
                                        <button class="btn btn-dark">Редактировать</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        cnt++;
                    }
                }
            </tbody>
        </table>
        <div>
            <form asp-action="GetAddQuestion" asp-controller="Tour" method="post">
                <button class="btn btn-dark" type="submit">
                    <span>Создать</span>
                </button>
                <input type="hidden" name="TourId" value="@Model.tour.Id" asp-for="@Model.tour.Id">
            </form>
        </div>
    </div>

    <hr />
    <div>
        <h3>Включено/не включено</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Текст</th>
                    <th scope="col">Включено/Не включено</th>
                    <th scope="col">Редактировать</th>
                </tr>
            </thead>
            <tbody>
                @{
                    cnt = 1;
                    foreach (var t in Model.tour.includes.OrderBy(x => x.isInclude).ThenBy(x => x.Visible))
                    {
                        string color = !t.Visible ? "table-danger" : "";
                        <tr>
                            <td class=@color>@cnt</td>
                            <td class=@color>@t.Number</td>
                            <td class=@color>@t.Text</td>
                            <td class=@color>@(t.isInclude ? "Включено" : "Не включено")</td>
                            <td class=@color>
                                <div>
                                    <form asp-controller="Tour" asp-action="GetEditInclude" method="post">
                                        <input type="hidden" name="IncludeId" value="@t.Id" />
                                        <button class="btn btn-dark">Редактировать</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        cnt++;
                    }
                }
            </tbody>
        </table>
        <div>
            <form asp-action="GetAddInclude" asp-controller="Tour" method="post">
                <button class="btn btn-dark" type="submit">
                    <span>Создать</span>
                </button>
                <input type="hidden" name="TourId" value="@Model.tour.Id" asp-for="@Model.tour.Id">
            </form>
        </div>
    </div>
</div>