@using KamchatkaTravel.Domain.Shared.Extensions;
@model KamchatkaTravel.WebDashboard.Models.MainTourModel;

@{
    ViewData["Title"] = "Управление турами";
}
<h1>Туры</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">тур</th>
            <th scope="col">Слоган</th>
            <th scope="col">Логотип</th>
            <th scope="col">Сезон</th>
            <th scope="col">Тип ночевки</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
            <th scope="col">Картинка описания</th>
            <th scope="col">Ссылка на оборудование</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Редактировать</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cnt = 1;
            foreach (var t in Model.tours.OrderBy(x => x.Visible).OrderByDescending(x => x.CreateDt))
            {
                string color = !t.Visible ? "table-danger" : "";
                <tr>
                    <td class=@color>@cnt</td>
                    <td class=@color>@t.Name</td>
                    <td class=@color>@t.Tagline.ToTruncateText()</td>
                    <td class=@color>**здесь будет логотип**</td>
                    <td class=@color>@t.SeasonType.GetDescription()</td>
                    <td class=@color>@t.NightType.GetDescription()</td>
                    <td class=@color>@t.Price</td>
                    <td class=@color>@t.Description.ToTruncateText(0, 100)</td>
                    <td class=@color>**здесь будет картинка**</td>
                    <td class=@color>@t.LinkEquipment</td>
                    <td class=@color>@t.CreateDt.ToString("f")</td>
                    <td class=@color>
                        <div>
                            <form asp-controller="Tour" asp-action="GetEditTourView" method="post">
                                <input type="hidden" name="TourId" value="@t.Id"></input>
                                <button class="btn btn-dark">Редактировать</button>
                            </form>
                        </div>
                    </td>
                </tr>
                cnt++;
            }
        }
    </tbody>
</table>